body {
	background-color: #73cef5;
}
.textwall {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 145%;
}
.hearts {
	text-align: center;
	font-size: 300%;
}
#no {
	text-decoration: line-through;
}
hr.sexy {
	border-top: 4px double #8c8b8b;
	text-align: center;
}
hr.sexy:after {
	content: '\002665';
	display: inline-block;
	position: relative;
	top: -15px;
	padding: 0 10px;
	background: #f0f0f0;
	color: #8c8b8b;
	font-size: 18px;
}
.vid {
	text-align: center;
}
